{% extends "layout.html" %}
{% block content %}

<div class="section">
  <div class="container">
    <div class="content-center">

  <form method="POST" action="">
    {{ form.csrf_token }}
    <p> <h5>{{ form.title.label }}</h5> <br> {{ form.title }}</p>
    <p><h5>{{ form.on.label }}</h5> <br> {{ form.on }}</p>
    <p><h5>{{ form.content.label }}</h5> <br> {{ form.content(rows='25',cols='80') }}</p>
    <input type="submit" value="Register">
  </form>
</div>


{% endblock content %}

